*{
    border: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    animation: pulse 10s infinite;
    color: $main-text-color;
    font-family: $default-family;
    font-size: 16px;
}

@keyframes pulse {
    0% {background-color: #D7DBD1;}
    25% {background-color: #BBC7BA;}
    50% {background-color: #99A89E;}
    75% {background-color: #BBC7BA;}
    100% {background-color: #D7DBD1;}
}

a {
    display: block;
    color: white;
    text-decoration: none;
}

h1 {
    font-family: 'Cormorant', serif;
    font-size: 50px;
}

h2 {
    font-family: 'Cormorant', serif;
    font-weight: lighter;
    font-size: 25px;
}

.mainCon {
    height: 60%;
    padding: 5rem;
    text-align: center;
}

input, textarea {
    padding: 0.7rem;
    margin: 0.6rem;
    color: #333;
    border-radius: 4px;
    width: 300px;
}

button {
    background-color: #D2D2CD;
    padding: 0.7rem;
    margin: 0.6rem;
    color: #fff;
    border-radius: 4px;
    width: 300px;
    cursor: pointer;

    &:hover {
        background-color: gray;
    }
}


h1 {
    padding: 50px 0;
    font-weight: lighter;
}

h2 {
    padding: 20px;
}


.mainCon {
    height: 60%;
    padding: 5rem;
    text-align: center;
}

input {
    padding: 0.7rem;
    margin: 0.6rem;
    color: #333;
    border-radius: 4px;
    width: 300px;
}

button {
    background-color: #D2D2CD;
    padding: 0.7rem;
    margin: 0.6rem;
    color: #fff;
    border-radius: 4px;
    width: 300px;
}

.topbar {
    text-align: center;
    color: white;
    opacity: 90%;
    width: 100%;
    padding: 15px;
    background-color: #ECA4A6;
}
