* {
  border: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  animation: pulse 10s infinite;
  color: gray;
  font-family: arial, helvetica, sans-serif;
  font-size: 16px;
}

@keyframes pulse {
  0% {
    background-color: #D7DBD1;
  }
  25% {
    background-color: #BBC7BA;
  }
  50% {
    background-color: #99A89E;
  }
  75% {
    background-color: #BBC7BA;
  }
  100% {
    background-color: #D7DBD1;
  }
}
a {
  display: block;
  color: white;
  text-decoration: none;
}

h1 {
  font-family: "Cormorant", serif;
  font-size: 50px;
  padding: 50px 0 10px 0;
}

h2 {
  font-family: "Cormorant", serif;
  padding: 20px;
}

h3 {
  font-family: "Cormorant", serif;
  padding: 20px;
}

.new-message {
  padding: 10px;
  margin: 5px;
  background-color: #D2D2CD;
  color: gray;
  border-radius: 8px;
  float: left;
  clear: both;
}

.my-message {
  background-color: white;
  float: gray;
}

.message-wrapper button {
  width: auto;
  margin: 0;
}
.message-wrapper textarea {
  color: #333;
  margin: 0;
  border-radius: 4px;
  width: 300px;
}

.mainCon {
  height: 60%;
  width: 70%;
  margin: auto;
  padding: 5rem;
  text-align: center;
}

input, textarea {
  padding: 0.7rem;
  margin: 0.6rem;
  color: #333;
  border-radius: 4px;
  width: 300px;
}

button {
  background-color: #D2D2CD;
  padding: 0.7rem;
  margin: 0.6rem;
  color: #fff;
  border-radius: 4px;
  width: 300px;
  cursor: pointer;
}
button:hover {
  background-color: gray;
}

.topbar {
  text-align: center;
  color: white;
  opacity: 90%;
  width: 100%;
  padding: 15px;
  background-color: #ECA4A6;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 2;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 2;
  }
}
.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.animated {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

hr.line1 {
  border: 5px solid white;
}

hr.line2 {
  border: 5px solid #F9D5D3;
}

hr.line3 {
  border: 5px solid #ECA4A6;
}

hr.line4 {
  border: 5px solid #807F89;
}

hr.line5 {
  border: 5px solid #99A89E;
}

hr.line6 {
  border: 5px solid #BBC7BA;
}

.chatroom {
  max-width: 1100px;
  padding: 20px 50px;
  margin: 30px auto;
  text-align: center;
  overflow: hidden;
}
.chatroom h2 {
  color: white;
  border-radius: 8px;
  padding: 20px;
}

.new-message {
  padding: 10px;
  margin: 5px;
  background-color: white;
  color: #807F89;
  opacity: 80%;
  float: left;
  clear: both;
  border-radius: 30px 30px 30px 0px;
  word-wrap: normal;
}

.my-message {
  background-color: #ffefdf;
  color: #8f4a2084;
  border-radius: 30px 30px 0px 30px;
  opacity: 80%;
  float: right;
  clear: both;
  word-wrap: normal;
}

.message-wrapper {
  align-items: center;
}
.message-wrapper input {
  width: auto;
  background-color: #ECA4A6;
}
.message-wrapper button[type=button] {
  width: 150px;
  margin: 0;
}
.message-wrapper textarea {
  color: #333;
  border-radius: 4px;
  width: 80%;
  margin: 0;
}

.footer {
  background-color: #F9D5D3;
  padding: 20px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}

@media (max-width: 700px) {
  hr.line1 {
    border: 2px solid white;
  }

  hr.line2 {
    border: 2px solid #F9D5D3;
  }

  hr.line3 {
    border: 2px solid #ECA4A6;
  }

  hr.line4 {
    border: 2px solid #807F89;
  }

  hr.line5 {
    border: 2px solid #99A89E;
  }

  hr.line6 {
    border: 2px solid #BBC7BA;
  }

  h2 {
    font-size: 20px;
    padding: 10px;
  }

  .footer {
    padding: 10px;
  }

  h1 {
    font-size: 40px;
    padding: 10px 0 10px 0;
  }

  .mainCon {
    padding: 2rem 0;
  }

  .chatroom {
    min-width: 250px;
    padding: 10px;
  }
  .chatroom p {
    font-size: 14px;
  }
}

/*# sourceMappingURL=main.css.map */
